
#panel {
	height: 200px;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
}
.btn-slide {
	background: url(white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	color: #000;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}
